html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/view/css/main.css')
    body
        center
            H1= title
            P 
            table
                tr 
                    td
                        button#save(onclick="save()") 저장
                    td
                        button#create(onclick="create()") 새로 만들기
                    td
                        button#create(onclick="del()") 삭제
            P
            table
                tr 
                    th 상호명
                    th 당도
                    th 식감
                    th 얼음
                    th 비고
                    th 주소
                each i in info
                    tr
                        td
                            input(value=i.name, name="name", onchange="change(this)" onclick="selecting("+i.createTm+")")
                        td 
                            input(style="width:70px;" value=i.sugar, name="sugar", onchange="change(this)" onclick="selecting("+i.createTm+")")
                        td 
                            input(style="width:70px;" value=i.taste, name="taste", onchange="change(this)" onclick="selecting("+i.createTm+")")
                        td 
                            input(style="width:70px;" value=i.ice, name="ice", onchange="change(this)" onclick="selecting("+i.createTm+")")
                        td 
                            input(style="width:70px;" value=i.memo, name="memo", onchange="change(this)" onclick="selecting("+i.createTm+")")
                        td
                            input(style="width:400px;" value=i.address, name="address", onchange="change(this)" onclick="selecting("+i.createTm+")")
                            input(type="hidden" value=i.createTm, name="createTm")
            .ui.modal 
                    .content
                        input(style="width:150px" id="newName" placeholder="상호")
                        input(style="width:50px" id="newSugar" placeholder="당도")
                        input(style="width:50px" id="newTaste" placeholder="식감")
                        input(style="width:50px" id="newIce" placeholder="얼음")
                        input(style="width:200px" id="newMemo" placeholder="메모")
                        input(style="width:300px" id="newAddress" placeholder="주소" onkeyup="if(window.event.keyCode==13){saveNew()}")
                        button.ui.button.mini(onclick="saveNew()")
                            i.check.icon.mini
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/manage.js")
    script(src="/script/callAjax.js")